
	<div id="content_no_children">
		
	<div id="content_l">
	
	

	
	
	
	
	
	
	
</div>
<div id="content_r_r">
	<div id="content_r">
	
	<h1>Kontakt</h1>
	<p><%= mail_to "info@grinakervev.no"%></p>
	<p>Telefon: +47 61 33 48 10</p>
	<p>Telefax: +47 61 33 28 03</p>
	<p>Grinakerlinna 124</p>
	<p>2760 Brandbu</p>
	<p>Norway</p>
	
</div>
</div>