
html,body {
          background: #401e6c;
          margin:0;
          padding:0;
          font-family:Verdana, Sans-serif;
          font-weight:1000;
          height:100%;
          letter-spacing:3px;
          }
h1			 {text-decoration: none; 
          margin-top: 5; 
          margin-bottom: 0;
          font-weight:100; 
          font-size: 25px;
          }
          
h2			 {font-size:20px;
          font-weight:100;
          color: #C2AE68;
          }
          
h2 a     {text-decoration:none;
          color:#000
          }
a				 {text-decoration:none;
          color:#766498;}
a:hover		{color:#85a5f0}
ul,ol			{padding:0px 0px 0px 30px;}



#header		 {border-bottom: 1px solid #766498; 
            width: 100%; 
            height:250px;
            background: #401e6c url( ../images/LOGO-3.png) no-repeat;
            }
#header_wrapper	{ 
                
                height:251px; 
                margin-left:30px;}
#content	 {min-height: 600px; height: auto!important;height: 100%;
            margin-left:auto;
            margin-right:auto;
            width: 990px;
                     }
#content_wrapper ul li	{list-style:none; }
#logged_in {padding:20px 20px 20px 20px;		
      			margin-top: 20px;
      			float: right;
      			background: rgba(50, 50, 50, 250.246094);
      			text-align:center;
      			}
      			
#title      {color: #9C850F;
        		font-size: 20px;
        		letter-spacing: +4px;
        		margin: 0px 0px 23px 0px;
        		text-align:center;
        		}

#content_l	{letter-spacing:0px;
             float: right;
		        margin-left: 20px;
    				width: 710px;
    				
        		}
#content_l	a   {font-size: 1em;}

#content_l img {
                border: 1px solid rgb(128, 128, 128);
                margin:10px 10px 10px 10px ;}
                
#content_l #text {
          color: #766498;
					font-size: 15px;
					line-height: 25px;
					padding: 20px 20px 1px;}
					
#menu {	
        float: left; 
		    width:255px;
    		font-size:20px; 
    		font-weight:100;
    		padding: 20px 0px 20px 0px;
    		background: #401e6c;
    			}
#menu ul {list-style: none; margin: 0;}
#menu li {padding: 10px 10px 10px 10px;}	
#menu ul li ul li  { font-size:17px; 
                     padding: 5px 5px 5px 0px;}		 
#menu {color: #9C850F;}

/* Footer styles */
	#footer {
	  min-height:50px;height:auto!important;height:50px;
		clear:both;
    color: #766498;
    font-size: 10px;
    line-height: 25px;
	}
	#footer p { 
	  text-align: center
	}


