<h1>Velkommen</h1><br />

<h3>Dette er baksiden.</h3>

<p>Her kan du:</p><br />
<ul>
<li>Lage innlegg i bloggen</li>
<li>Legge til en kompis du syns bør være med</li> 
<li>Lage nye statiske sider</li> 
<li>Moderere kommentarer til bloggen</li>
<li>Lese meldinger som er kommet inn til siden</li>
</ul><br />

